canvas {
    background-color: blueviolet;
    height: 600px;
}

h1 {
    font-size: 80px;
    text-align: center;
}


button {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin: 15% 45%; /*this is bad :D*/
}

/*
note! ehkä vielä game-conatiner class sinne main.js:ään??

noniii voi vittu. eli se class "canvas-container" literally vaan pitää sisällään tän canvasin, en välttämättä oikeesti ees tarvis sitä mut I 
guess se on olemassa että siihen voi laittaa jonku taustakuvan vaikka

en myöskään tiiä miks helvetissä se revitty korkeus on jtn 154 pikseliä atm mut sen v oi hardkoodata tähän

*/